<form [formGroup]="objFormMaterial">
    <ion-item>
        <ion-label floating>Tipo de material:</ion-label>
        <ion-select formControlName="fcMaterial" interface="popover">
            <ion-option *ngFor="let _material of proConfiguration.listMaterials" [value]="_material">{{_material.description}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="!objFormMaterial.controls.fcMaterial.valid && objFormMaterial.controls.fcMaterial.touched">
        <p class="alerForm">Seleccione el tipo de material</p>
    </ion-item>
</form>